@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --nirsalGreen: #3b5202;
  --nirsalLightGreen: #6b9109;
  --nirsalTransparentGreen: #a1bb5e;
}

a {
  text-decoration: none;
  margin: 0;
}

a:hover {
  color: white;
}

/* Page Structure */
.appContainer {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  padding-right: 0;
  background: rgba(196, 196, 196, 0.17);
}

.contentsRight {
  flex-grow: 1;
  padding: 0.5rem 2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 0.95;
}

.pageContents {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
}

/* End of Page Structure */

/* CardFlex */
.cardFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* End of CardFlex */

/* Forms */
.nirsal__InputFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.small {
  flex-basis: 33%;
}

.medium {
  flex-basis: 50%;
}

.large {
  flex-basis: 100%;
}

.nirsal__InputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
  justify-content: center;
}

.nirsal__InputContainerSM {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
}

.nirsal__InputContainer label {
  font-size: 13px;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}

.nirsal__InputContainer input {
  width: 100%;
  height: 4rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 0.5rem 2rem;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background: white;
}

.nirsal__InputContainer input:read-only {
  background: whitesmoke;
}

.nirsal__InputContainer select {
  width: 100%;
  height: 4rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.26);
  background: white;
  padding: 0.5rem 2rem;
  border: 1px solid gainsboro;
  border-radius: 10px;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.nirsal__InputContainer textarea {
  width: 100%;
  height: 7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background: white;
}

.nirsal__InputContainer span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nirsal__InputContainer input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid gainsboro;
  border-radius: 50%;
  margin: 0 1rem;
}

.nirsal__InputContainer input[type="radio"]:checked {
  background-color: var(--nirsalGreen);
}

.nirsal__InputContainer button {
  width: 100%;
  height: 4rem;
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nirsal__InputContainerSM button {
  width: 100%;
  height: 3rem;
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.most__RadioContainer {
  display: flex;
  /* justify-content: space-between; */
}

.btnContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}

.btn {
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
}

.btn svg {
  margin: 0 0.5rem;
}

.loading {
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-top-color: #fff;
  border-bottom-color: #fff;
  animation: spinner3 800ms ease infinite;
}

@keyframes spinner3 {
  to {
    transform: rotate(360deg);
  }
}

button:disabled {
  background: whitesmoke;
  color: black;
  cursor: not-allowed;
}

.green {
  background: var(--nirsalGreen);
  color: white;
}

.lightGreen {
  background: var(--nirsalLightGreen);
  color: white;
}

/* Forms */

@media screen and (max-width: 1050px) {
  .contentsRight {
    flex: 0.85;
    padding: 0.5rem 3rem;
  }
}

@media screen and (max-width: 700px) {
  .appContainer {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    padding: 0;
  }

  .contentsRight {
    flex: 1;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 550px) {
  .appContainer {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    padding: 0;
  }

  .contentsRight {
    flex: 1;
    padding: 0.5rem 1rem;
  }
}
